<div class="fondo">
  <div class="titulo align-self-center">
    <p class="text-white">Panel de administrador</p>
    <ol class="breadcrumb text-center">
      <li class="breadcrumb-item" [routerLink]="['/home']">Home</li>
      <li class="breadcrumb-item active" [routerLink]="['/admin-panel']">Admin</li>
    </ol>
  </div>
</div>

<div class="text-center">
  <div class="btn-group w-100" role="group" aria-label="Basic example">
    <button (click)="changeShowMenu('reportes')" type="button" [ngClass]="{'active': showMenu == 'reportes'}"
      class="btn btn-secondary w-50 rounded-0">Reportes</button>
    <button (click)="changeShowMenu('reportesAsignados')" type="button"
      [ngClass]="{'active': showMenu == 'reportesAsignados'}" class="btn btn-secondary w-50 rounded-0">Reportes
      Asignados</button>
    <button disabled type="button" class="btn btn-secondary w-50 rounded-0">Admin 2</button>
    <button disabled type="button" class="btn btn-secondary w-50 rounded-0">Admin 3</button>
  </div>
</div>

<!--REPORTES-->
<div *ngIf="showMenu == 'reportes'" class="animate__animated animate__fadeIn">

  <div class="text center">

    <table class="table table-responsive-md table-striped table-hover">
      <thead>
        <tr class="table-info">
          <th scope="col">Report ID</th>
          <th scope="col">Send By</th>
          <th scope="col">Assigned To</th>
          <th scope="col">Report Status</th>
          <th scope="col">Post Date</th>
          <th scope="col">Report Category</th>
          <th scope="col">Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let report of allReports | paginate:{itemsPerPage: 10, currentPage:actualPage};, let i = index"
          class="table-primary">
          <th scope="row">{{report.id}}</th>
          <td>{{report.athleteHasReported}}</td>
          <td>{{report.adminToResolve}}</td>
          <td>{{report.reportStatus}}</td>
          <td>{{report.createReportDate}}</td>
          <td>{{report.reportCategory}}</td>
          <td *ngIf="report.reportStatus == 'PENDING'">
            <i class="fas fa-eye fa-2x mr-3" [routerLink]="['report', report.id]"></i>
            <i (click)="assignReport(report.id)" class="far fa-hand-point-up fa-2x ml-5"></i>
          </td>
          <td *ngIf="report.reportStatus != 'PENDING'">
            <i class="fas fa-eye fa-2x" [routerLink]="['report', report.id]"></i>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls class="container mt-2" (pageChange)="actualPage = $event"></pagination-controls>
  </div>
</div>

<!-- REPORTES ASIGNADOS-->
<div *ngIf="showMenu == 'reportesAsignados'" class="animate__animated animate__fadeIn">

  <div class="text center">

    <table class="table table-responsive-md table-striped table-hover">
      <thead>
        <tr class="table-info">
          <th scope="col">Report ID</th>
          <th scope="col">Send By</th>
          <th scope="col">Assigned To</th>
          <th scope="col">Report Status</th>
          <th scope="col">Post Date</th>
          <th scope="col">Report Category</th>
          <th scope="col">Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let report of myReports | paginate:{itemsPerPage: 10, currentPage:actualPage2};, let i = index"
          class="table-primary">
          <th scope="row">{{report.id}}</th>
          <td>{{report.athleteHasReported}}</td>
          <td>{{report.adminToResolve}}</td>
          <td>{{report.reportStatus}}</td>
          <td>{{report.createReportDate}}</td>
          <td>{{report.reportCategory}}</td>
          <td *ngIf="report.reportStatus != 'PENDING'">
            <i class="fas fa-eye fa-2x" [routerLink]="['report', report.id]"></i>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls class="container mt-2" (pageChange)="actualPage = $event"></pagination-controls>
  </div>
</div>