@import "src/sass/styles.scss";

.fondo {
    @include dietBanner;

    .titulo {
        margin: auto auto;
        font-size: 30px;
    }

    .word {
        font-size: 20px;
    }
}
.breadcrumb {
    font-size: 20px;
    background-color: #9CD3C4;
}

.dietInput {
    @include dietInput;
    width: 100%;
}

.btnSize {
    width: 50%;
}

/* ----------- */


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

    .btnSize {
        width: 40%;
    }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

    .dietInput {
        width: 80%;
    }

    .btnSize {
        width: 25%;
    }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

    .dietInput {
        width: 70%;
    }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  
}