<div class="container animate__animated animate__fadeInDownBig">
  <form [formGroup]="profileForm" action="">

    <h2>
      <hr>Datos personales<hr>
    </h2>

    <div class="form-group entryFormField text-center">
      <label class="form-control-label" for="name">Nombre</label><br>
      <input type="text" formControlName="name" name="name" class="dietInput form-control"
        [placeholder]="athleteName | titlecase" required id="inpName" #nameFocus
        [class.is-invalid]="profileForm.get('name').touched && profileForm.get('name').invalid">
      <div class="alert colorFallo" [hidden]="profileForm.get('name').pristine || profileForm.get('name').valid">
        El nombre es obligatorio
      </div>
    </div>

    <div class="form-group entryFormField text-center">
      <label class="form-control-label" for="surname">Apellidos</label><br>
      <input type="text" formControlName="surname" name="surname" class="dietInput form-control"
        [placeholder]="athleteSurname | titlecase" required id="inpSurname"
        [class.is-invalid]="profileForm.get('surname').touched && profileForm.get('surname').invalid">
      <div class="alert colorFallo" [hidden]="profileForm.get('surname').pristine || profileForm.get('surname').valid">
        Los apellidos son obligatorios
      </div>
    </div>

    <div class="form-group entryFormField text-center">
      <label class="form-control-label" for="birthDay">Fecha de nacimiento</label><br>
      <input type="text" formControlName="birthDay" name="birthDay" class="dietInput form-control"
        [placeholder]="athleteBirthday | date:'dd/MM/yyyy'" required id="inpBirthday"
        [class.is-invalid]="profileForm.get('birthDay').touched && profileForm.get('birthDay').invalid">
      <div class="alert colorFallo"
        [hidden]="profileForm.get('birthDay').pristine || profileForm.get('birthDay').valid">
        El valor de la fecha de no es válido
      </div>
    </div>

    <div class="form-group entryFormField text-center">
      <label class="form-control-label" for="totalPoints">Puntos Diet2gether</label><br>
      <input type="text" formControlName="totalPoints" name="totalPoints" class="dietInput form-control"
        [placeholder]="athleteTotalPoints + ' puntos'" required id="inpTotalPoints"
        [class.is-invalid]="profileForm.get('totalPoints').touched && profileForm.get('totalPoints').invalid">
    </div>

    <h2>
      <hr>Datos IMC<hr>
    </h2>

    <div class="form-group entryFormField text-center">
      <label class="form-control-label" for="imc">IMC</label><br>
      <input disabled type="text" name="imc" class="dietInput form-control" [placeholder]="athleteIMC | number: '1.2-2'"
        required id="inpImc">
    </div>

    <div class="form-group entryFormField text-center">
      <label class="form-control-label" for="actualScale">Baremo IMC</label><br>
      <input disabled type="text" name="actualScale" class="dietInput form-control" [placeholder]="athleteActualScale" required
        id="inpActualScale">
    </div>

    <!-- <div *ngFor="let scale of athleteScales" class="form-group entryFormField d-flex">
      <label class="form-control-label m-auto" for="imc">{{scale.scale}}</label><br>
      <input  disabled type="text" name="imc" class="dietInput form-control"
        [placeholder]="scale.weightScale | number: '1.2-2'" required id="inpImc">
    </div> -->

    <div class="form-group entryFormField text-center">
      <label class="form-control-label" for="allScales">Mis baremos</label><br>
      <div *ngFor="let scale of athleteScales, let i = index">
        <div *ngIf="athleteActualScale == scale.scale">
          <label class="form-control-label m-auto" for="imc">
            <i class="fas fa-check text-primary"></i>
            {{scale.scale}}
            <i class="fas fa-check text-primary"></i>
          </label><br>
        </div>
        <div *ngIf="athleteActualScale != scale.scale">
          <label class="form-control-label m-auto" for="imc">{{scale.scale}}</label><br>
        </div>

        <input disabled type="text" name="imc" class="dietInput form-control mb-4"
          [placeholder]="scale.weightScale | number: '1.2-2'" required id="inpImc">
        <!-- <input *ngIf="(i + 1) < athleteScales.length" disabled type="text" name="imc" class="dietInput form-control mb-4"
          [placeholder]="scale.weightScale | number: '1.2-2'" required id="inpImc">
        <input *ngIf="(i + 1) == athleteScales.length" disabled type="text" name="imc" class="dietInput form-control"
          [placeholder]="scale.weightScale | number: '1.2-2'" required id="inpImc"> -->
      </div>
    </div>

    <div class="form-group entryFormField text-center">
      <button name="btnGo" class="btn btn-primary btn-lg btn-mid" [disabled]="!profileForm.valid"
        (click)="sendProfileData()">Enviar</button>
    </div>

  </form>
</div>