@import "src/sass/styles.scss";

// .rotar{
//     transform: rotate(180deg);
// }

.fondo {
    @include dietBanner;

    .titulo {
        margin: auto auto;
        font-size: 30px;
    }

    .word {
        font-size: 20px;
    }
}
.breadcrumb {
    font-size: 20px;
    background-color: #9CD3C4;
}
.active {
    color: white;
}

.selectColor{
    background-color: $dietBannerBackground;
}


/* ----------- */


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  
    // .card {
    //     min-width: 50%;
    // }
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  
}