#divGeneral {
    font-style: italic;
}

#divTitle {
    text-align: center;
}

#imgWelcome {
    display: flex;

    width: 80%;
    margin: 0 auto;
}

#divMain {
    text-align: center;
}

#divMain p {
    margin-top: 15%;
    font-size: 30px;
}

#divMain button {
    margin-top: 15%;
    font-size: 20px;
}