<div id="contenedor-welcome" class="animate__animated animate__fadeIn">

  <div class="fondo text-center">
    <div class="empty-back">
    </div>

    <div class="container text-center user-select-none">
      <h1>Diet Together, </h1>
      <div class="container text-center subtitle-welcome">
        <h2>tu lugar para bajar de peso</h2>
      </div>
    </div>
  </div>

  <div class="empty-back">
    <span></span>
  </div>

  <div class="botones">
    <button class="btn bg-secondary text-white" [routerLink]="['/login']">Vamos!</button>
  </div>

  <div class="row mx-auto mt-4">
    <div class="col-lg-3">
      <div class="row align-self-center text-center fila-posicion">
        <div class="circulo-icono">
          <i class="fas fa-users text-white fa-3x"></i>
        </div>
      </div>
      <div class="container align-self-center text-center">
        <h3>Grupos con amigos</h3>
        <p class="w-75 mx-auto">
          Podras crear grupos con amigos o familiares para bajar de peso, o cumplir tus objetivos.
          Comparad hasta donde podeis llegar juntos.
        </p>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="row align-self-center text-center fila-posicion">
        <div class="circulo-icono">
          <i class="fas fa-user-shield text-white fa-3x"></i>
        </div>
      </div>
      <div class="container align-self-center text-center">
        <h3>Actividades privadas</h3>
        <p class="w-75 mx-auto">
          Si quieres algo privado, puedes hacer un seguimiento de tus logros
          en solitario.<br>
          ¡Superarse es la clave!
        </p>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="row align-self-center text-center fila-posicion">
        <div class="circulo-icono">
          <i class="fas fa-trophy text-white fa-3x"></i>
        </div>
      </div>
      <div class="container align-self-center text-center">
        <h3>Ranking de atletas</h3>
        <p class="w-75 mx-auto">
          En las actividades anteriores, ganas puntos segun tu progreso para cumplir tus objetivos.
          Compite con los mayores atletas en nuestro ranking.
        </p>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="row align-self-center text-center fila-posicion">
        <div class="circulo-icono">
          <i class="fas fa-utensils text-white fa-3x"></i>
        </div>
      </div>
      <div class="container align-self-center text-center">
        <h3>Dietas personalizadas</h3>
        <p class="w-75 mx-auto">
          Imagina poder crear tus propias dietas, poder organizarlas cada dia y disfrutar de tu plato favorito cuando
          quieras.<br>
          ¡En Diet2Gether es posible!
        </p>
      </div>
    </div>
  </div>

  <div class="divFoto mt-3">
    <img src="assets/img/entry/welcome/food.png" alt="Imagen de comida sana">
  </div>

</div>