<!-- <div id="divEntryGeneral" class="">

  <div id="divEntryTitle">
    <h1 class="animate__animated animate__fadeInLeft">DietTogether</h1>
  </div>

  <div id="divImg" class="animate__animated animate__fadeIn">
    <img id="imgWelcome" src="assets/img/entry/welcome/apple.jpg" alt="Imagen de bienvenida">
  </div>

  <div id="divMain">
    <p class="animate__animated animate__fadeInRight">Ponte en forma <br> con nosotros!</p>

    <button type="button" name="btnGo" class="btn btn-primary btn-lg btn-mid animate__animated animate__fadeInUp"
      [routerLink]="['/login']">Vamos!</button>
  </div>

</div> -->
<div id="contenedor-welcome" class="animate__animated animate__fadeIn">
<div class="fondo text-center">

  <div class="empty-back">

  </div>

  <div class="container text-center">
    <h1>Diet Together, </h1>
    <div class="container text-center subtitle-welcome">
      <h2>tu Lugar para bajar <br> de Peso</h2>
    </div>

  </div>

</div>

<div class="empty-back">

  <span></span>
</div>
<div class="botones">
  <button class="btn bg-secondary text-white" [routerLink]="['/login']">Vamos!</button>
</div>



<div class="container mt-4">
  <div class="col justify-content-center">
    <div class="row align-self-center text-center fila-posicion">

      <div class="circulo-icono">
        <i class="fas fa-users text-white fa-3x"></i>
      </div>
    </div>
    <div class="container align-self-center text-center">
      <h3>Grupos con amigos</h3>
      <p>Podras crear grupos con amigos o familiares para bajar de peso, o cumplir tus objetivos.
        Comparad hasta donde podeis llegar juntos.
      </p>
    </div>

    <div class="row align-self-center text-center fila-posicion">

      <div class="circulo-icono">
        <i class="fas fa-user-shield text-white fa-3x"></i>
      </div>
    </div>
    <div class="container align-self-center text-center">
      <h3>Actividades privadas</h3>
      <p>Si quieres algo privado, puedes hacer un seguimiento de tus logros
        en solitario. <br>¡Superarse es la clave!
      </p>
    </div>

    <div class="row align-self-center text-center fila-posicion">

      <div class="circulo-icono">
        <i class="fas fa-trophy text-white fa-3x"></i>
      </div>
    </div>
    <div class="container align-self-center text-center">
      <h3>Ranking de atletas</h3>
      <p>En las actividades anteriores, ganas puntos segun tu progreso para cumplir tus objetivos.
        Compite con los mayores atletas en nuestro ranking.
      </p>
    </div>

    <div class="row align-self-center text-center fila-posicion">

      <div class="circulo-icono">
        <i class="fas fa-utensils text-white fa-3x"></i>
      </div>
    </div>
    <div class="container align-self-center text-center">
      <h3>Dietas personalizadas</h3>
      <p>Imagina poder crear tus propias dietas, poder organizarlas cada dia y disfrutar de tu plato favorito cuando quieras.<br>
        ¡En Diet2Gether es posible!
      </p>
    </div>

  </div>
</div>




<!-- <button type="button" name="btnGo" class="btn btn-primary btn-lg btn-mid"
      [routerLink]="['/login']">Vamos!</button> -->