#divGeneral {
    font-style: italic;
    padding: 0; // eliminar espacios container
}

#divTitle {
    text-align: center;
}

#divForm {
    text-align: center;
}

#divForm p {
    margin-top: 15%;
    font-size: 20px;
}

#divForm button {
    margin-top: 15%;
    font-size: 20px;
    margin-bottom: 15%;
}

.formField {
    margin-top: 15%;
}

.formField input {
    padding-right: 0;
    padding-left: 0;
    width: 80%;
}