#divGeneral {
    font-style: italic;
}

#divTitle {
    text-align: center;
}

#divForm {
    text-align: center;
}

#divForm p {
    margin-top: 15%;
    font-size: 30px;
}

#divForm button {
    margin-top: 15%;
    font-size: 20px;
    margin-bottom: 20%;
}

.formField {
    margin-top: 15%;
}