<div id="divGeneral">

    <div id="divTitle">
        <h3>Introduce los siguientes datos <br> para empezar</h3>
    </div>
    
    <div id="divForm">
        
        <form action="">
            <div class="formField">
                <label for="name">Nombre</label><br>
                <input type="text" name="name" id="inpName">
            </div>

            <div class="formField">
                <label for="surname">Apellidos</label><br>
                <input type="text" name="surname" id="inpSurname">
            </div>

            <div class="formField">
                <label for="birthdate">Fecha de nacimiento</label><br>
                <input type="date" name="birthdate" id="inpBirthdate">
            </div>
            
            <div class="formField">
                <label for="weight">Peso</label><br>
                <input type="tel" name="weight" id="inpWeight">
            </div>
            
            <div class="formField">
                <label for="height">Altura (metros)</label><br>
                <input type="tel" name="height" id="inpHeight">
            </div>
        </form>

        <button name="btnGo">Enviar</button>

        <!-- <button name="btnGo" [routerLink]="['/athlete']">Enviar</button>

        <a href="" [routerLink]="['/login']">
            <p>Si ya estás registrado...</p>
        </a> -->
    </div>

</div>

