<div id="divGeneral">

    <div id="divTitle">
        <h3>Introduce los siguientes datos <br> para empezar</h3>
    </div>
    
    <div id="divForm">
        <form (ngSubmit)="onSubmit(athleteForm.value)" #athleteForm="ngForm">
            <div class="formField">
                <label for="name">Nombre</label><br>
                <input #name="ngModel" [(ngModel)]="athleteForm.name" required type="text" name="name" id="inpName">
                <div [hidden]="name.valid || name.pristine" class="">
                    El nombre es obligatorio
                </div>
            </div>

            <div class="formField">
                <label for="surname">Apellidos</label><br>
                <input #surname="ngModel" [(ngModel)]="athleteForm.surname" type="text" name="surname" id="inpSurname">
                <div [hidden]="surname.valid || surname.pristine" class="">
                    Los apellidos son obligatorios
                </div>
            </div>

            <div class="formField">
                <label for="birthDay">Fecha de nacimiento</label><br>
                <input #birthDay="ngModel" [(ngModel)]="athleteForm.birthDay" type="date" name="birthDay" id="inpBirthday">
                <div [hidden]="birthDay.valid || birthDay.pristine" class="">
                    La fecha de nacimiento es obligatoria
                </div>
            </div>
            
            <div class="formField">
                <label for="weight">Peso</label><br>
                <input #weight="ngModel" [(ngModel)]="athleteForm.weight" type="tel" name="weight" id="inpWeight">
                <div [hidden]="weight.valid || weight.pristine" class="">
                    El peso es obligatorio
                </div>
            </div>
            
            <div class="formField">
                <label for="height">Altura (metros)</label><br>
                <input #height="ngModel" [(ngModel)]="athleteForm.height" type="tel" name="height" id="inpHeight">
                <div [hidden]="height.valid || height.pristine" class="">
                    La altura es obligatoria
                </div>
            </div>

            <button name="btnGo">Enviar</button>
        </form>
    </div>

</div>