@import "src/sass/styles.scss";

.fondo {
    @include dietBanner;

    .titulo {
        margin: auto auto;
        font-size: 30px;
    }

    .word {
        font-size: 20px;
    }
}

.breadcrumb {
    font-size: 20px;
    background-color: #9CD3C4;
}

.active {
    color: white;
}