<div class="fondo">
    <div class="titulo align-self-center text-center text-white">
        <p>Grupos</p>
        <!-- <p class="word">Lista de amigos</p> -->
    </div>
</div>

<div class="container text-center mt-2">
    <h2>¿Que puedes hacer aqui?</h2>
    <p>Esta es una de las secciones principales en Diet2gether. Podras visualizar el grupo en el que estas con tus
        amigos y visualizar
        sus estadisticas.
    </p>
    <p>En caso de que no estes en un grupo podras <br> crear el tuyo e invitar a tus amigos.</p>
    <p>¡A que esperas!</p>

    <div class="botones">
        <button class="btn bg-secondary text-white">Ir a tu grupo</button>
        <button class="btn bg-secondary text-white" [routerLink]="['/management-group']">Crear un grupo</button>
    </div>
</div>
<div class="container my-5">
    <hr>
</div>

<div class="container text-center mt-2">
    <h2>¿Como funcionan nuestros grupos?</h2>
    <p>Esta es una de las secciones principales en Diet2gether. Podras visualizar el grupo en el que estas con tus
        amigos y visualizar
        sus estadisticas.
    </p>
    <p>En caso de que no estes en un grupo podras <br> crear el tuyo e invitar a tus amigos.</p>
    <p>¡A que esperas!</p>

</div>