@import "src/sass/styles.scss";


.fondo {
    @include dietBanner;

    .titulo {
        margin: auto auto;
        font-size: 30px;
    }

    .word {
        font-size: 20px;
    }
}

.breadcrumb {
    font-size: 20px;
    background-color: #9CD3C4;
}

.active {
    color: white;
}

.privateFormField {
    input {
        padding-right: 0;
        padding-left: 0;
        width: 80%;
    }
}

.colorFallo {
    color: rgb(228, 118, 118);
}

.dietInput {
  @include dietInput;
}

.midInputLeft {
    margin-left: 10%;
}

.midInputRight {
    margin-right: 10%;
}

.doubleInput {
    display: flex;
    justify-content: space-evenly;

    input {
        width: 33%;
    }
}