<div id="divGeneral">

    <div id="divTitle">
        <h1>Regístrate</h1>
    </div>

    <div id="divForm">

        <form (ngSubmit)="onSubmit(signUpForm.value)" #signUpForm="ngForm">
            <div class="formField">
                <label for="user">Usuario</label><br>
                <input #user="ngModel" [(ngModel)]="singUpClass.user" required type="text" name="username" id="inpUser">
                <div [hidden]="user.valid || user.pristine" class="">
                    El usuario es obligatorio
                </div>
            </div>

            <div class="formField">
                <label for="pass">Contraseña</label><br>
                <input #pass="ngModel" [(ngModel)]="singUpClass.pass" required type="password" name="password"
                    id="inpPass">
                <div [hidden]="pass.valid || pass.pristine" class="">
                    La contraseña es obligatoria
                </div>
            </div>

            <div class="formField">
                <label for="rptpass">Repite contraseña</label><br>
                <input #passAgain="ngModel" [(ngModel)]="singUpClass.passAgain" required type="password" name="rptpass"
                    id="inpRptpass">
                <div [hidden]="passAgain.valid || passAgain.pristine" class="">
                </div>
                <div [hidden]="singUpClass.passAgain == singUpClass.pass" class="">
                    Las contraseñas no coinciden
                </div>
            </div>
            <button name="btnGo"
                [disabled]="!signUpForm.valid || !(singUpClass.passAgain == singUpClass.pass)">Enviar</button>
        </form>



        <a href="" [routerLink]="['/login']">
            <p>Si ya estás registrado...</p>
        </a>
    </div>

</div>