<div id="divGeneral">

    <div id="divTitle">
        <h1>Regístrate</h1>
    </div>
    
    <div id="divForm">
        
        <form action="">
            <div class="formField">
                <label for="user">Usuario</label><br>
                <input type="text" name="user" id="inpUser">
            </div>

            <div class="formField">
                <label for="pass">Contraseña</label><br>
                <input type="password" name="pass" id="inpPass">
            </div>

            <div class="formField">
                <label for="rptpass">Repite contraseña</label><br>
                <input type="password" name="rptpass" id="inpRptpass">
            </div>
        </form>

        <button name="btnGo" [routerLink]="['/athlete']">Enviar</button>

        <a href="" [routerLink]="['/login']">
            <p>Si ya estás registrado...</p>
        </a>
    </div>

</div>
