<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
  </button>

  <a [routerLink]="['/welcome']" class="navbar-brand" (click)="checkSessionStatus()">Diet2gether</a>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="#">Social</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Dieta</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">Actividades</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Grupos</a>
          <a class="dropdown-item" href="#">Privada</a>
          <!-- <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a> -->
        </div>
      </li>

      <!-- <i class="fas fa-power-off"></i> -->
    </ul>


    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>

  <div class="dropdown dropleft">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
      aria-expanded="false">
      <i class="fas fa-user-circle text-white fa-2x"></i>
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Mi perfil</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#" (click)="logout()">Cerrar sesión</a>
      <!-- <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a> -->
    </div>
  </div>

  

  <!-- <i class="fas fa-power-off text-white fa-2x"></i> -->

</nav>