/* Mixin creado para gestionar el diseño del banner */
@mixin dietBanner {
    display: flex;
    height: 25vh;
    width: 100%;
    background-color: $dietBannerBackground;

    .active {
        color: white;
    }
}


/* Mixin creado para gestionar el diseño de la caja de información */
@mixin dietInfoBox {
    background-color: $dietInfoBoxBackground;
    border-radius: 5px;
    color: white;
    
    .detailsText {
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    h2 {
        color: whitesmoke;
    }

    a p {
        color: $dietInfoBoxLink;
        font-weight: 800;
    }
}