#divReportForm {
    text-align: center;

    button {
        margin-top: 5%;
        font-size: 20px;
        margin-bottom: 3%;
    }

}

.reportFormField {
    margin-top: 10%;

    textarea {
        height: 20vh;
        text-align: justify;
    }
}

.colorFallo {
    color: rgb(228, 118, 118);
}

.dietInput {
  @include dietInput;
  appearance: auto;
  width: 80%;
}


/* ----------- */


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    
    .reportFormField {
        margin-top: 5%;

        .dietInput {
            width: 50%;
        }
    }

    #divReportForm {
        button {
            margin-top: 5%;
            width: 25%;
        }
    }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  
}