<div class="fondo">
  <div class="titulo align-self-center text-center ">
    <p class="text-white">Bienvenid@ a {{actualGroup.name}}</p>
    <!-- <p class="word">Lista de amigos</p> -->
    <ol class="breadcrumb container">
      <li class="breadcrumb-item" [routerLink]="['/home']">Home</li>
      <li class="breadcrumb-item" [routerLink]="['/group/welcome']">Grupos</li>
      <li class="breadcrumb-item active" [routerLink]="['/group/groupview']">Tu grupo</li>
    </ol>
  </div>
</div>

<div class="text-center w-100">
  <div class="btn-group-lg" role="group" aria-label="Basic example">
    <button *ngIf="showActive == true" (click)="changeRanking()" type="button"
      class="btn btn-secondary w-50 rounded-0 active">Ranking</button>
    <button *ngIf="showActive == true" (click)="changeRegisters()" type="button"
      class="btn btn-secondary w-50 rounded-0">Registros</button>

    <button *ngIf="showActive == false" (click)="changeRanking()" type="button"
      class="btn btn-secondary w-50 rounded-0">Ranking</button>
    <button *ngIf="showActive == false" (click)="changeRegisters()" type="button"
      class="btn btn-secondary w-50 rounded-0 active">Registros</button>
  </div>
</div>


<!-- Div Ranking -->
<div *ngIf="showActive == true" class="container text-center mt-4 animate__animated animate__fadeIn">

  <h2>Tiempo restante</h2>

  <!-- Barra de progreso -->
  <div class="progress mt-1 border border-primary">
    <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" role="progressbar"
      aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
      x días restantes
    </div>
  </div>

  <div class="container my-5">
    <hr>
  </div>

  <!-- Ranking - Lista con badges -->
  <h2>Ranking</h2>

  <ul class="list-group" *ngFor="let athleteRanking of athletes, let i = index ">

    <li *ngIf="i == 0" class="list-group-item d-flex justify-content-between align-items-center">
      <i class="fas fa-trophy text-warning fa-2x"></i>
      {{athleteRanking.name}}
      <span class="badge badge-primary badge-pill">{{athleteRanking.point}}</span>
    </li>
    <li *ngIf="i == 1" class="list-group-item d-flex justify-content-between align-items-center">
      <i class="fas fa-trophy fa-2x"></i>
      {{athleteRanking.name}}
      <span class="badge badge-primary badge-pill">{{athleteRanking.point}}</span>
    </li>
    <li *ngIf="i == 2" class="list-group-item d-flex justify-content-between align-items-center">
      <i class="fas fa-trophy text-danger fa-2x"></i>
      {{athleteRanking.name}}
      <span class="badge badge-primary badge-pill">{{athleteRanking.point}}</span>
    </li>
    <li *ngIf="(i != 2 && i != 1 && i != 0)" class="list-group-item d-flex justify-content-between align-items-center">
      <span>{{i + 1}}</span> 
      {{athleteRanking.name}}
      <span class="badge badge-primary badge-pill">{{athleteRanking.point}}</span>
    </li>
  </ul>

</div>



<!-- Div Registros -->
<div *ngIf="showActive == false" class="container text-center mt-4 animate__animated animate__fadeIn">

  <h2>
    Registros
    <i class="fas fa-plus" data-toggle="modal" data-target="#registerModal" (click)="resetAddRegisterForm()"></i>
  </h2>
  <h3 *ngIf="registers.length == 0">Aun no tienes ningun registro en este grupo</h3>
  <div *ngFor="let register of registers | paginate:{itemsPerPage: 6, currentPage:actualPage};, let i = index" class="card-group">

    <div class="card border-primary">
      <div class="card-header">Día {{register.weightDate}}</div>
      <div class="card-body">
        <!-- <h4 class="card-title">Primary card title</h4> -->
        <p class="card-text">Peso Registrado => {{register.weight}} kg</p>
        <p class="card-text">Fecha de Registro => {{register.weightDate}}</p>
        <p class="card-text">Has perdido => {{register.weightDifference}} kg</p>
      </div>
    </div>

  </div>

  <pagination-controls class="container mt-2" (pageChange)="actualPage = $event"></pagination-controls>

</div>


<div id="registerModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mx-auto">Nuevo registro de peso</h5>
      </div>
      <div class="modal-body">

        <form [formGroup]="addRegisterForm" action="">

          <div class="form-group text-center">
            <label class="col-form-label" for="peso">Introduce el peso (Kg y gramos):</label>

            <div class="doubleInput">
              <input class="input-entry form-control midInputLeft" required type="tel" formControlName="weightKilograms"
                name="weightKilograms" id="inpWeightKilograms" placeholder="Kilos"
                [class.is-invalid]="addRegisterForm.get('weightKilograms').touched && addRegisterForm.get('weightKilograms').invalid">
              <p class="mt-2">y</p>
              <input class="input-entry form-control midInputRight" required type="tel" formControlName="weightGrams"
                name="weightGrams" id="inpWeightGrams" placeholder="Gramos"
                [class.is-invalid]="addRegisterForm.get('weightGrams').touched && addRegisterForm.get('weightGrams').invalid">
            </div>
          </div>

          <div class="text-muted text-center">
            Consejo: Si pesas 70.05 <br> debes indicar <span class="font-weight-bold">0</span>5 en los gramos
          </div>

          <div
            [hidden]="addRegisterForm.get('weightKilograms').valid || addRegisterForm.get('weightKilograms').pristine"
            class="colorFallo text-center">
            El valor de los kilos (kg) no es válido
          </div>
          <div [hidden]="addRegisterForm.get('weightGrams').valid || addRegisterForm.get('weightGrams').pristine"
            class="colorFallo text-center">
            El valor de los gramos (g) no es válido
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="crearRegistro()" [disabled]="!addRegisterForm.valid">Agregar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetAddRegisterForm()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
