<div class="fondo">
    <div class="titulo align-self-center text-center ">
        <p class="text-white">Bienvenid@ a tu grupo</p>
        <!-- <p class="word">Lista de amigos</p> -->
        <ol class="breadcrumb container">
            <li class="breadcrumb-item" [routerLink]="['/home']">Home</li>
            <li class="breadcrumb-item" [routerLink]="['/group/welcome']">Grupos</li>
            <li class="breadcrumb-item active" [routerLink]="['/group/groupview']">Tu grupo</li>
        </ol>
    </div>
</div>