<div class="fondo">
  <div class="titulo align-self-center text-center">
    <p class="text-white">Actividad privada</p>
    <ol class="breadcrumb container">
      <li class="breadcrumb-item" [routerLink]="['/home']">Home</li>
      <li class="breadcrumb-item" [routerLink]="['/private/welcome']">Actividad privada</li>
      <li class="breadcrumb-item active" [routerLink]="['/group/groupview']">Vista</li>
    </ol>
  </div>
</div>

<div class="text-center">
  <div class="btn-group w-100" role="group" aria-label="Basic example">
    <button (click)="changeMenuTab('estado')" type="button" class="btn btn-secondary w-50 rounded-0"
      [ngClass]="{'active': activeMenuTab == 'estado'}">Estado</button>
    <button *ngIf="registerMode == 'PROGRESSIVE'" (click)="changeMenuTab('diario')" type="button"
      class="btn btn-secondary w-50 rounded-0" [ngClass]="{'active': activeMenuTab == 'diario'}">Diario</button>
    <button (click)="changeMenuTab('registros')" type="button" class="btn btn-secondary w-50 rounded-0"
      [ngClass]="{'active': activeMenuTab == 'registros'}">Registros</button>
  </div>
</div>


<!-- Div Estado (equivalente a ranking en modo grupo) -->
<div *ngIf="activeMenuTab == 'estado'" class="container text-center mt-4 animate__animated animate__fadeIn">

  <h2>Tiempo restante: {{progressBar.daysLeft}} días</h2>

  <!-- Barra de progreso -->
  <div class="progress mt-1 border border-primary text-dark">
    <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" role="progressbar"
      aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width':progressBar.totalPercentage+'%'}">
    </div>
  </div>

  <div class="container my-5">
    <hr>
  </div>



  <!-- Puntuación - Lista con badges -->
  <h2>Ranking</h2>

  <div class="card">
    <div class="card-header bg-primary text-white">Datos de la actividad</div>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul *ngIf="actualPrivateActivity" class="list-group list-group-flush">
      <li class="list-group-item">Modo de actividad: {{actualPrivateActivity.privateActivityMode}}</li>
      <li class="list-group-item">Modo de registros: {{actualPrivateActivity.registerMode}}</li>
      <li class="list-group-item">Peso objetivo: {{actualPrivateActivity.weightObjective}}</li>
    </ul>
    <ul *ngIf="athleteRanking" class="list-group list-group-flush">
      <li class="list-group-item">
          <span class="badge badge-primary badge-pill">{{athleteRanking.gamePoints}}</span> puntos
        </li>
    </ul>
    <!-- <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div> -->
  </div>

  <!-- <ul class="list-group" *ngIf="athleteRanking != null">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div class="cupOrNumber">
        <i class="fas fa-trophy text-warning fa-2x"></i>
      </div>
      <div class="d-flex">
        <p class="my-auto mx-2">{{athleteRanking.name}}</p>
      </div>
      <div class="cupOrNumber">
        <span class="badge badge-primary badge-pill">{{athleteRanking.gamePoints}}</span>
      </div>
    </li>
  </ul> -->

  <h4 class="text-secondary mt-5 cursor-salir" (click)="getOutActivity()">
    Abandonar actividad <i class="fas fa-sign-out-alt rotar"></i>
  </h4>

</div>



<!-- Div Registros - CLASSIC y PROGRESSIVE -->
<div *ngIf="activeMenuTab == 'registros'"
  class="container text-center mt-4 animate__animated animate__fadeIn">

  <h2>
    Mis registros
    <i *ngIf="isRegisterActive == true && registerMode == 'CLASSIC'" class="fas fa-plus" data-toggle="modal" data-target="#registerModal"
      (click)="resetAddRegisterForm()"></i>
  </h2>

  <p *ngIf="isRegisterActive == false && registerMode == 'CLASSIC'" class="mx-auto">
    <i class="far fa-clock lead mt-2"></i>
    Aún no puedes añadir otro registro.<br>
    Puedes crearlo el día {{ nextRegisterDate | date:'d/M' }}.
  </p>

  <h3 *ngIf="weightDifference > 0" class="text-primary">
    Has perdido {{weightDifference | number: "1.2-2"}} kg desde el inicio
  </h3>
  <h3 *ngIf="weightDifference < 0" class="text-secondary">
    Has ganado {{weightDifference | number: "1.2-2"}} kg desde el inicio
  </h3>

  <h3 *ngIf="registersClassicMode.length == 0">
      <i class="far fa-clock"></i> Aún no tienes registros en esta actividad
  </h3>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4">
    <div class="col mb-4"
      *ngFor="let register of registersClassicMode | paginate:{itemsPerPage: 4, currentPage:actualPage};, let i = index">

      <div class="card border-primary">
        <div class="card-header">{{register.weightDate | date:'fullDate' }}</div>
        <div class="card-body">
          <p class="card-text">
            <i class="fas fa-weight"></i>
            Peso: {{register.weight}} kg
          </p>
          <p class="card-text">
            <i class="far fa-calendar-alt"></i>
            Fecha: {{register.weightDate}}
          </p>
          <p *ngIf="register.weightDifference >= 0" class="card-text text-primary">
            <i class="fas fa-balance-scale-left"></i>
            Has perdido: {{register.weightDifference}} kg
          </p>
          <p *ngIf="register.weightDifference < 0" class="card-text text-secondary">
            <i class="fas fa-balance-scale-left"></i>
            Has ganado: {{register.weightDifference * -1}} kg
          </p>
        </div>
      </div>
    </div>

  </div>

  <div class="mt-4 pr-4">
    <pagination-controls class="" (pageChange)="actualPage = $event" previousLabel="Anterior" nextLabel="Posterior"
      responsive="true">
    </pagination-controls>
  </div>
</div>



<!-- Div Diario - PROGRESSIVE -->
<div *ngIf="activeMenuTab == 'diario'"
  class="container text-center mt-4 animate__animated animate__fadeIn">

  <h2>
    Registros diarios
    <i *ngIf="isRegisterActive == true && registerMode == 'PROGRESSIVE'" class="fas fa-plus" data-toggle="modal"
      data-target="#registerModal" (click)="resetAddRegisterForm()"></i>
  </h2>

  <p *ngIf="isRegisterActive == false" class="mx-auto">
    <i class="far fa-clock lead mt-2"></i>
    Aún no puedes añadir otro registro.<br>
    Puedes crearlo el día {{ nextRegisterDate | date:'d/M' }}.
  </p>

  <h3 *ngIf="weightDifference > 0" class="text-primary">
    Has perdido {{weightDifference | number: "1.2-2"}} kg desde el inicio
  </h3>
  <h3 *ngIf="weightDifference < 0" class="text-secondary">
    Has ganado {{weightDifference | number: "1.2-2"}} kg desde el inicio
  </h3>

  <h3 *ngIf="registersProgressiveMode.length == 0">
      <i class="far fa-clock"></i> Aún no tienes registros en esta actividad
  </h3>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4">
    <div class="col mb-4"
      *ngFor="let register of registersProgressiveMode | paginate:{itemsPerPage: 4, currentPage:actualPage};, let i = index">

      <div class="card border-primary">
        <div class="card-header">{{register.weightDate | date:'fullDate' }}</div>
        <div class="card-body">
          <p class="card-text">
            <i class="fas fa-weight"></i>
            Peso: {{register.weight}} kg
          </p>
          <p class="card-text">
            <i class="far fa-calendar-alt"></i>
            Fecha: {{register.weightDate}}
          </p>
          <p *ngIf="register.weightDifference >= 0" class="card-text text-primary">
            <i class="fas fa-balance-scale-left"></i>
            Has perdido: {{register.weightDifference}} kg
          </p>
          <p *ngIf="register.weightDifference < 0" class="card-text text-secondary">
            <i class="fas fa-balance-scale-left"></i>
            Has ganado: {{register.weightDifference * -1}} kg
          </p>
        </div>
      </div>
    </div>

  </div>

  <div class="mt-4 pr-4">
    <pagination-controls class="" (pageChange)="actualPage = $event" previousLabel="Anterior" nextLabel="Posterior"
      responsive="true">
    </pagination-controls>
  </div>
</div>



<div id="registerModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mx-auto">Nuevo registro de peso</h5>
      </div>
      <div class="modal-body">

        <form [formGroup]="addRegisterForm" action="">

          <div class="form-group text-center">
            <label class="col-form-label" for="peso">Introduce el peso (Kg y gramos):</label>

            <div class="doubleInput">
              <input class="dietInput form-control midInputLeft" required type="tel" formControlName="weightKilograms"
                name="weightKilograms" id="inpWeightKilograms" placeholder="Kilos"
                [class.is-invalid]="addRegisterForm.get('weightKilograms').touched && addRegisterForm.get('weightKilograms').invalid">
              <p class="mt-2">y</p>
              <input class="dietInput form-control midInputRight" required type="tel" formControlName="weightGrams"
                name="weightGrams" id="inpWeightGrams" placeholder="Gramos"
                [class.is-invalid]="addRegisterForm.get('weightGrams').touched && addRegisterForm.get('weightGrams').invalid">
            </div>
          </div>

          <div class="text-muted text-center">
            Consejo: Si pesas 70.05 <br> debes indicar <span class="font-weight-bold">0</span>5 en los gramos
          </div>

          <div
            [hidden]="addRegisterForm.get('weightKilograms').valid || addRegisterForm.get('weightKilograms').pristine"
            class="colorFallo text-center">
            El valor de los kilos (kg) no es válido
          </div>
          <div [hidden]="addRegisterForm.get('weightGrams').valid || addRegisterForm.get('weightGrams').pristine"
            class="colorFallo text-center">
            El valor de los gramos (g) no es válido
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createClassicRegister()"
          [disabled]="!addRegisterForm.valid">Agregar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          (click)="resetAddRegisterForm()">Cerrar</button>
      </div>
    </div>
  </div>
</div>