<div class="animate__animated animate__fadeIn">

  <div class="fondo">

    <div id="carouselWords" class="carousel slide align-self-center" data-ride="carousel">
      <div class="carousel-inner text-center text-white">

        <div>
          <p>Con nosotros puedes...</p>
        </div>

        <div class="carousel-item word active">
          <p>Hacer amigos</p>
        </div>
        <div class="carousel-item word">
          <p>Bajar de peso, sólo o en grupo</p>
        </div>
        <div class="carousel-item word">
          <p>Organizar tu dieta</p>
        </div>
      </div>
    </div>
  </div>


  <div class="row mx-auto mt-4">

    <div class="col-md-6 m-auto">
      <div class="container text-center">
        <h1>Actividades</h1>

        <div class="w-75 mx-auto">
          <p>En Diet2gether, puedes realizar actividades, que te ayudarán a alcanzar tu peso ideal.</p>
          <p>Puedes realizarlas con amigos, o en privado.</p>
          <p>Los puntos obtenidos en estas actividades, se almacenarán en un ranking.</p>
        </div>

        <div class="botones">
          <button [routerLink]="['/group/welcome']" class="btn bg-secondary text-white">Grupo</button>
          <button class="btn bg-secondary text-white">Privado</button>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="container mt-4 mt-md-0 details text-center w-75">
        <div class="detailsText">
          <h2>¿Quieres conocer<br>el sistema de puntuación?</h2>
          <h4>Revisa nuestro FAQ</h4>

          <p class="mt-3">
            En Diet2gether, tenemos un sistema<br>equilibrado de puntuación.<br>
            No importa el peso en el que te encuentres.
          </p>
          <a href="#" class="text-white">
            <p>Visita nuestro FAQ</p>
          </a>
        </div>
      </div>
    </div>

  </div>


  <div class="container my-5">
    <hr>
  </div>


  <div class="row mx-auto">

    <div class="col-md-6 m-auto">

      <div class="container text-center">
        <h1>Dietas personalizadas</h1>

        <div class="w-75 mx-auto">
          <p>En Diet2gether, puedes realizar crear dietas personalizadas y adaptadas a tu gusto.</p>
          <p>Podrás organizar tu dieta cada semana, eligiendo un plato para cada comida</p>
        </div>

        <div class="botones">
          <button class="btn bg-secondary text-white">Ir a dietas</button>
        </div>
      </div>

    </div>

    <div class="col-md-6">
      <div class="container mt-4 mt-md-0 details text-center w-75">
        <div class="detailsText">
          <h2>¿Cómo organizamos las dietas?</h2>
          <h4>Revisa nuestro FAQ</h4>

          <p class="mt-3">
            En Diet2gether, te damos la oportunidad<br>de crear tus propios platos.<br>
            Puedes modificar tu dieta en cualquier momento.
          </p>
          <a href="#" class="text-white">
            <p>Visita nuestro FAQ</p>
          </a>
        </div>
      </div>
    </div>

  </div>


</div>