@import "src/sass/styles.scss";


.fondo {
    @include dietBanner;

    #carouselWords {
        margin: auto auto;
        font-size: 30px;
    }

    .word {
        font-size: 20px;
    }
}

.botones {
    display: flex;
    justify-content: space-evenly;

    button {
        width: 35%;
    }
}

.details {
    background-color: #A1C5CE;
    border-radius: 5px;
    color: white;
    
    .detailsText {
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    h2 {
        color: whitesmoke;
    }

    a p {
        color: #4D8593;
        font-weight: 800;
    }
}